body {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.booking-btn,
.booking-submit-btn {
  font: inherit;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.booking-btn {
  background-color: #766357;
}

.booking-btn:hover,
.booking-btn:focus {
  background-color: #604E43;
}

.booking-btn:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3)
}

.booking-submit-btn {
  background-color: #81B3D2;
}

.booking-submit-btnn:hover,
.booking-submit-btn:focus {
  background-color: #669EC0;
}

.booking-submit-btn:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3)
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  color: #000000;

}

.navigation-link:hover,
.navigation-link:focus {
  color: #81B3D2;
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.navigation-link-current {
  color: #766357;
}

.promo {
  background-color: #ffffff;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
  min-height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo img {
  margin-bottom: 7px;
}

.reasons {
  text-align: center;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reasons-intro {
  padding-top: 59px;
  margin: auto;
  width: 520px;
  min-height: 214px;
  box-sizing: border-box;
}

.intro-title,
.intro-desc {
  padding: 0;
  margin: 0;
  line-height: 26px;
}

.intro-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 28px;
}

.reasons-list,
.features-list {
  list-style: none;
}

.reasons-list h2,
.reasons-list h3 {
  font-size: 21px;
  font-weight: 700;
}

.reasons-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
}

.reason {
  box-sizing: border-box;
  padding: 48px;
  width: 400px;
  color: #ffffff;
  background-color: #81B3D2;
}

.reason-title,
.reason-number,
.reason-desc {
  padding: 0;
  margin: 0;
}

.reason-title {
  margin-bottom: 22px;
}

.reason-number {
  display: block;
  margin-bottom: 22px;
}

.features-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  box-sizing: border-box;
  padding: 140px 50px 50px 50px;
  max-width: 400px;
  min-height: 330px;
}

.reasons-item-bottom {
  box-sizing: border-box;
  padding: 48px 60px;
  display: block;
  width: 400px;
  background-color: #eeeeee;
}

.booking-block {
  text-align: center;
}

.booking-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.booking-desc {
  line-height: 24px;
}

.booking-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.booking-form-item input {
  font: inherit;

  text-transform: uppercase;
  background-color: #F2F2F2;
  border: 2px solid #F2F2F2;
}

.booking-form-item input:hover {
  background-color: #EBEBEB;
}

.booking-form-item input:focus {
  background-color: #FFFFFF;
}

.filters {
  color: #ffffff;
  background-color: #86a3c1;
  background-image: url("../img/filters-bg.png");
  background-repeat: no-repeat;
}

.filters fieldset {
  padding: 0;
  padding-top: 25px;
  margin: 0;
  display: block;
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-list {
  list-style: none;
}

.filter-input:disabled+label {
  opacity: 0.5;
}

.filters-submit-btn {
  font: inherit;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: rgba(134, 163, 193, 0);
}

.filters-submit-btn:hover,
.filters-submit-btn:focus {
  color: #000000;
  background: #ffffff;
}

.results {
  font-size: 12px;
  line-height: 18px;
}

.results-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-list {
  list-style: none;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted;
  text-decoration-color: #81B3D2;
}

.sort-link:hover,
.sort-link:focus {
  color: #81B3D2;
}

.sort-link:active {
  color: #000000;
  text-decoration: none;
}

.sort-link-current {
  color: #81B3D2;
  text-decoration: none;
}

.hotels-list {
  list-style: none;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81B3D2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info-detailed {
  color: #333333;
}

.button-more,
.button-book {
  font-weight: 700;
  color: #ffffff;
}

.button-more {
  background-color: #81B3D2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669EC0;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

.button-book {
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604E43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503E33;
}

.hotel-ratings-rate {
  color: #666666;
  background-color: #f2f2f2;
}

.footer {
  display: flex;
  padding: 36px 101px 36px 136px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 26px;
}

.footer-hashtag {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.social-list {
  padding: 0;
  margin: 0;
  width: 150px;
  list-style: none;
}

.social-button {
  color: #ffffff;
  background-color: #81B3D2;
}

.social-button:hover {
  color: #ffffff;
  background-color: #669EC0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

.container {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  box-sizing: border-box;
  padding: 27px 72px 0 72px;
  min-height: 217px;
}

.filter fieldset {
  margin-right: 120px;
}

.filter fieldset:last-of-type {
  margin-left: auto;
  margin-right: 0;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option label {
  margin-left: 23px;
}

.filter-option {
  margin-bottom: 25px;
}

.results {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  padding: 24px 72px 0 72px;
  min-height: 86px;
}

.results-title {
  margin-right: 48px;
}

.sort-list {
  display: flex;
}

.sort-item {
  margin-right: 33px;
}

.hotels-list {
  margin: 0;
  padding: 30px 72px 0 72px;
  display: flex;
  flex-direction: column;
}

.hotels-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 150px;
}

.hotel-image {
  margin-right: 30px;
}

.hotel-name {
  margin-top: -3px;
  margin-bottom: 6px;
}

.hotel-info-detailed {
  margin: 0;
  padding: 0;
}

.hotel-type {
  width: 110px;
}

.hotel-ratings {
  margin-left: auto;
}
