html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 0;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.20);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.20);
}

.header {
  background: #ffffff;
}

.navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  position: relative;
  color: #ffffff;
}

.header-logo {
  position: absolute;
  z-index: 100;
  left: 50%;
  width: 138px;
  margin-left: -69px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20%;
  height: 56px;
  text-align: left;
}

.navigation-item:nth-child(3) {
  margin-left: 20%;
  text-align: right;
}

.navigation-item:nth-child(4) {
  text-align: right;
}

.navigation-link {
  color: #000000;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #81b3d2;
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-link-current {
  color: #766357;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.promo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 510px;
  background-color: #dddddd;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
}

.promo img {
  margin-bottom: 7px;
}

.promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("data:image/svg+xml,%3Csvg height='57' viewBox='0 0 1200 57' width='1200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 57v-57l250 24v-24l350 57 350-57v24l250-24v57z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.reasons {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  text-align: center;
  background: #ffffff;
}

.reasons img {
  height: 256px;
}

.reasons-intro {
  width: 520px;
  margin: auto;
  padding-top: 59px;
}

.intro-title,
.intro-desc {
  line-height: 26px;
  margin: 0 0 49px 0;
  padding: 0;
}

.intro-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 28px;
}

.reasons-list,
.features-list {
  list-style: none;
}

.reason-title,
.feature-title {
  font-size: 21px;
  font-weight: 700;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 256px;
  background-color: #81b3d2;
}

.reason {
  width: 400px;
  padding: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-title,
.reason-number,
.reason-desc {
  margin: 0 auto;
  padding: 0;
}

.reason-title {
  width: 155px;
  margin-bottom: 22px;
}

.reason-number {
  display: block;
  margin-bottom: 22px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-item {
  max-width: 400px;
  min-height: 330px;
  padding: 56px 50px 50px 50px;
  background-color: #ffffff;
}

.feature-title,
.feature-desc {
  margin: 0;
  padding: 0;
}

.feature-title {
  position: relative;
  margin-bottom: 23px;
  padding-top: 106px;
}

.feature-title::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  background-repeat: no-repeat;
}

.features-item:nth-child(1) .feature-title::before {
  width: 75px;
  height: 72px;
  margin-left: -37px;
  background-image: url("data:image/svg+xml,%3Csvg height='72' viewBox='0 0 75 72' width='75' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2381b3d2' fill-rule='nonzero'%3E%3Cpath d='m29.656 65.033h16v-23.823h-16zm2.937-20.899h10.125v17.976h-10.125z'/%3E%3Cpath d='m72.771 39.253 2.076-2.068-9.908-9.865v-27.32h-13.812v13.567l-13.627-13.567-37.348 37.185 2.077 2.068 7.832-7.795v37.618h-3.937v2.924h63.875v-2.924h-5.059v-37.618zm-10.769 29.823h-49.003v-40.542l24.501-24.385 24.502 24.385zm0-44.682-7.938-7.902v-13.568h7.938z'/%3E%3Cpath d='m29.906 27.08c0 4.261 3.47 7.713 7.75 7.713 4.279 0 7.75-3.452 7.75-7.713 0-4.259-3.471-7.713-7.75-7.713-4.281 0-7.75 3.454-7.75 7.713zm7.75-4.945c2.744 0 4.969 2.214 4.969 4.945 0 2.732-2.225 4.948-4.969 4.948-2.746 0-4.97-2.216-4.97-4.948 0-2.731 2.225-4.945 4.97-4.945zm-20.595 19.075h3v3.919h-3zm5.938 0h3v3.919h-3zm-5.938 5.972h3v3.919h-3zm5.938 0h3v3.919h-3zm25.999-5.972h3v3.919h-3zm5.938 0h3v3.919h-3zm-5.938 5.972h3v3.919h-3zm5.938 0h3v3.919h-3z'/%3E%3C/g%3E%3C/svg%3E");
}

.features-item:nth-child(2) .feature-title::before {
  width: 75px;
  height: 70px;
  margin-left: -37px;
  background-image: url("data:image/svg+xml,%3Csvg height='70' viewBox='0 0 75 70' width='75' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2381b3d2' fill-rule='nonzero'%3E%3Cpath d='m70.854 46.71h-65.803c-2.274 0-4.135 1.94-4.135 4.313v3.504c0 2.372 1.861 4.313 4.135 4.313h.93v1.053c0 5.536 4.341 10.065 9.648 10.065h44.646c5.306 0 9.648-4.529 9.648-10.065v-1.053h.93c2.274 0 4.135-1.941 4.135-4.313v-3.504c0-2.373-1.86-4.313-4.134-4.313zm-3.848 13.184c0 3.871-3.019 7.021-6.73 7.021h-44.647c-3.711 0-6.731-3.15-6.731-7.021v-1.053h58.107v1.053zm5.065-5.367c0 .688-.558 1.271-1.218 1.271h-65.802c-.66 0-1.217-.582-1.217-1.271v-3.504c0-.688.558-1.271 1.217-1.271h65.802c.66 0 1.218.582 1.218 1.271zm-55.437-16.121 5.323 4.059 5.326-4.059 5.328 4.059 5.328-4.059 5.328 4.059 5.329-4.059 5.327 4.059 5.33-4.06 5.336 4.059 6.194-4.712-1.72-2.459-4.474 3.403-5.336-4.057-5.33 4.056-5.327-4.057-5.329 4.057-5.328-4.057-5.328 4.057-5.328-4.057-5.325 4.057-5.323-4.057-5.327 4.057-4.467-3.401-1.721 2.457 6.188 4.714zm-7.656-6.862h60.877c.041-.619.069-1.241.069-1.87 0-.394-.016-.783-.032-1.173-.665-15.844-14.706-28.501-31.94-28.501-17.233 0-31.275 12.657-31.939 28.501-.017.39-.032.78-.032 1.173 0 .629.028 1.251.07 1.87zm28.974-28.501c15.591 0 28.35 11.316 29.021 25.458h-58.042c.673-14.142 13.43-25.458 29.021-25.458z'/%3E%3Cellipse cx='37.952' cy='15.26' rx='1.945' ry='2.03'/%3E%3Cellipse cx='30.172' cy='10.23' rx='1.946' ry='2.03'/%3E%3Cellipse cx='45.732' cy='10.23' rx='1.946' ry='2.03'/%3E%3C/g%3E%3C/svg%3E");
}

.features-item:nth-child(3) .feature-title::before {
  width: 64px;
  height: 76px;
  margin-left: -32px;
  background-image: url("data:image/svg+xml,%3Csvg height='76' viewBox='0 0 64 76' width='64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m61.097 23.501h-24.785c13.813-6.899 14.917-11.251 14.408-13.685-1.162-3.963-5.692-7.023-10.002-5.407-5.569 2.089-7.137 10.388-8.644 16.387-1.924-6.07-3.784-13.814-8.136-17.737-1.261-1.138-3.095-2.264-5.763-2.028-4.026.356-9.802 5.382-7.458 10.981 2.251 5.378 9.687 8.777 14.578 11.489h-22.416c-1.58545102.0016342-2.87184926 1.2835643-2.879 2.869v11.322c.00715074 1.5854357 1.29354898 2.8673658 2.879 2.869h.274v36.439h57.841v-36.439h.103c1.5858412-.0010844 2.872847-1.2831745 2.88-2.869v-11.322c-.007153-1.5858255-1.2941588-2.8679156-2.88-2.869zm-18.684-16.557c2.103-.31 4.982 1.299 5.255 3.209.393 2.756-3.4 5.255-5.086 6.421-2.523 1.744-4.928 2.643-7.287 4.055.884-3.69 2.549-13.011 7.118-13.685zm-22.882 9.968c-2.225-1.485-6.544-4.431-6.44-7.771.112-3.595 5.743-6.57 8.814-3.886 3.856 3.371 5.713 11.105 7.119 16.557-3.249-1.539-6.328-2.788-9.493-4.9zm5.972 57.114h-19.367v-33.465h19.368v33.465zm0-36.502h-22.457v-10.986h22.457zm10.157 0v36.503h-7.174v-47.489h7.174zm22.351 36.502h-19.367v-33.465h19.367zm2.92-36.502h-22.287v-10.986h22.287z' fill='%2381b3d2' fill-rule='evenodd' transform='translate(0 -1)'/%3E%3C/svg%3E");
}

.reasons-item-bottom {
  display: block;
  width: 400px;
  padding: 48px 60px;
  background-color: #eeeeee;
}

.booking {
  background-color: #ffffff;
}

.booking-block {
  position: relative;
  z-index: 10;
  padding: 58px 316px 0 316px;
  text-align: center;
  background-color: #ffffff;
}

.booking-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  margin-bottom: 29px;
}

.booking-desc {
  line-height: 24px;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
}

.booking-btn,
.booking-submit-btn {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.booking-btn {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.booking-btn:hover,
.booking-btn:focus {
  background-color: #604e43;
}

.booking-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.booking-form-wrapper {
  position: absolute;
  z-index: 2;
  left: 50%;
  display: none;
  width: 568px;
  min-height: 395px;
  margin-left: -284px;
  padding: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.booking-form {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }
}

@-webkit-keyframes error {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes error {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.booking-form-show {
  display: block;
  -webkit-animation-name: slide-down;
  animation-name: slide-down;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.booking-form-hide {
  display: block;
  -webkit-animation-name: slide-up;
  animation-name: slide-up;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.on-error {
  -webkit-animation-name: error;
  animation-name: error;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.booking-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.booking-form-item:nth-child(1),
.booking-form-item:nth-child(2) {
  position: relative;
  width: 100%;
}

.booking-form-item label {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 111px;
}

.booking-form-item input {
  font: inherit;
  width: 100%;
  height: 38px;
  padding: 6px 35px 6px 12px;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}

.booking-form-item input:hover {
  background-color: #ebebeb;
}

.booking-form-item input:focus {
  background-color: #ffffff;
}

.small-item {
  margin-bottom: 53px;
}

.small-item:last-of-type label {
  width: 64px;
}

.small-item input {
  width: 38px;
  padding: 6px;
  text-align: center;
}

.btn {
  position: relative;
  width: 38px;
  height: 38px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}

.btn-calendar {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
  padding: 0;
  border: none;
  background: transparent;
}

.btn-calendar svg {
  fill: #cacaca;
}

.btn-calendar:focus svg,
.btn-calendar:hover svg {
  fill: #000000;
}

.btn-calendar:active svg {
  fill: #81b3d2;
}

.btn-minus::before,
.btn-plus::before,
.btn-plus::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.btn-plus::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn-count:hover::before,
.btn-count:hover::after,
.btn-count:focus::before,
.btn-count:focus::after {
  background-color: #000000;
}

.btn-count:active::before,
.btn-count:active::after {
  background-color: #81b3d1;
}

.booking-submit-btn {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.booking-submit-btn:hover,
.booking-submit-btn:focus {
  background-color: #669ec0;
}

.booking-submit-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  position: relative;
  min-height: 590px;
}

.map iframe {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border: 0;
}

.filters {
  color: #ffffff;
  background-color: #86a3c1;
  background-image: url("../img/filters-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 -57px;
}

.filter fieldset {
  display: block;
  margin: 0;
  margin-right: 120px;
  padding: 0;
  padding-top: 25px;
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 72px 5px 72px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 25px;
}

.filter-option-label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.filter-option-label input[type="checkbox"]+.filter-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -4px;
  background-image: url("data:image/svg+xml,%3Csvg height='23' viewBox='0 0 23 23' width='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1h-17c-.542 0-1-.458-1-1v-17c0-.542.458-1 1-1zm0-2h-17c-1.65 0-3 1.35-3 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-17c0-1.65-1.35-3-3-3z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.filter-option-label input[type="checkbox"]:checked+.filter-checkbox {
  background-image: url("data:image/svg+xml,%3Csvg height='23' viewBox='0 0 27 23' width='27' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-rule='nonzero'%3E%3Cpath d='m7.285 7.486-2.829 2.829 7.783 7.783 13.932-13.932-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='m21 20c0 .542-.458 1-1 1h-17c-.542 0-1-.458-1-1v-17c0-.542.458-1 1-1h16.908l1.585-1.585c-.4519846-.26845822-.9673109-.41170031-1.493-.415h-17c-1.65 0-3 1.35-3 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2z'/%3E%3C/g%3E%3C/svg%3E");
}

.filter-option-label input[t\ype="checkbox"]:focus+.filter-checkbox {
  -webkit-filter: drop-shadow(0 0 10px #ffffff);
  filter: drop-shadow(0 0 10px #ffffff);
}

.filter-option-label input[type="checkbox"]:disabled+.filter-checkbox {
  opacity: 0.2;
  background-image: url("data:image/svg+xml,%3Csvg height='23' viewBox='0 0 23 23' width='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1h-17c-.542 0-1-.458-1-1v-17c0-.542.458-1 1-1zm0-2h-17c-1.65 0-3 1.35-3 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-17c0-1.65-1.35-3-3-3z' fill='%23000000'/%3E%3C/svg%3E%0A");
}

.filter-option-label input[type="checkbox"]:checked:disabled+.filter-checkbox {
  opacity: 0.2;
  background-image: url("data:image/svg+xml,%3Csvg height='23' viewBox='0 0 27 23' width='27' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='m7.285 7.486-2.829 2.829 7.783 7.783 13.932-13.932-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='m21 20c0 .542-.458 1-1 1h-17c-.542 0-1-.458-1-1v-17c0-.542.458-1 1-1h16.908l1.585-1.585c-.4519846-.26845822-.9673109-.41170031-1.493-.415h-17c-1.65 0-3 1.35-3 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.filter-range {
  width: 318px;
  margin-left: auto;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-range-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 9px;
  padding-left: 2px;
}

.price-controls {
  font-size: 0;
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ffffff;
  background: #ffffff;
}

.price-controls label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 147px;
  padding: 5px 0 0 65px;
}

.price-controls input {
  font: inherit;
  width: 50px;
  margin: 0;
  color: inherit;
  border: none;
  background: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filters-submit-btn {
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  width: 137px;
  height: 36px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgba(134, 163, 193, 0);
}

.filters-submit-btn:hover,
.filters-submit-btn:focus {
  color: #000000;
  background: #ffffff;
}

.results {
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  -ms-flex-align: baseline;
  min-height: 86px;
  padding: 24px 72px 0 72px;
  border-bottom: 1px solid #e5e5e5;
  background: #ffffff;
}

.results-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 48px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.sort-item {
  margin-right: 33px;
}

.up-down {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: auto;
}

.sort-link {
  text-decoration: underline dotted;
  color: rgba(0, 0, 0, 0.3);

  -webkit-text-decoration: underline dotted;
  -webkit-text-decoration-color: #81b3d2;
  text-decoration-color: #81b3d2;
}

.sort-link:hover,
.sort-link:focus {
  color: #81b3d2;
}

.sort-link:active {
  text-decoration: none;
  color: #000000;
}

.sort-link-current {
  text-decoration: none;
  color: #81b3d2;
}

.sort-item-btn {
  margin: 0 1px 0 13px;
}

.sort-link-btn {
  font-size: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 10px solid #cacaca;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.sort-link-btn:hover,
.sort-link-btn:focus {
  border-color: #000000;
  border-right-color: transparent;
  border-left-color: transparent;
}

.current,
.sort-link-btn:active {
  border-color: #81b3d1;
  border-right-color: transparent;
  border-left-color: transparent;
}

.sort-link-btn-up {
  border-top-width: 0;
}

.sort-link-btn-down {
  border-bottom-width: 0;
}

.hotels {
  background: #ffffff;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  margin: 0;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel-info-detailed {
  margin: 0;
  padding: 0;
  color: #333333;
}

.hotel-name {
  margin-top: -3px;
  margin-bottom: 6px;
}

.hotel-name a {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
  display: inline-block;
  width: 110px;
  margin-bottom: 16px;
  vertical-align: middle;
}

.hotel-info-buttons {
  margin: 0;
}

.button-more,
.button-book {
  font-weight: 700;
  padding: 5px 17px;
  color: #ffffff;
}

.button-more {
  margin-right: 2px;
  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-book {
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
}

.hotel-ratings-class {
  position: relative;
}

.hotel-ratings-class::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 114px;
  height: 17px;
  background-repeat: no-repeat;
}

.one-star::after {
  background-image: url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E");
  background-position: 96px;
}

.two-stars::after {
  background-image: url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E");
  background-position: 96px, 73px;
}

.three-stars::after {
  background-image: url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E");
  background-position: 96px, 73px, 48px;
}

.four-stars::after {
  background-image: url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E");
  background-position: 96px, 73px, 48px, 24px;
}

.five-stars::after {
  background-image: url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg height='17' viewBox='0 0 18 17' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.002 0 2.126 6.494h6.877l-5.564 4.012 2.125 6.494-5.564-4.013-5.564 4.013 2.126-6.494-5.564-4.012h6.878z' fill='%2381b3d2'/%3E%3C/svg%3E");
  background-position: 96px, 73px, 48px, 24px, 1px;
}

.hotel-ratings-rate {
  width: 110px;
  height: 27px;
  padding: 4px 12px 3px 15px;
  color: #666666;
  background-color: #f2f2f2;
}

.footer {
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 36px 101px 37px 132px;
  background-color: rgba(255, 255, 255, 0.9);
}

.index-footer {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  width: 200px;
  margin: 0;
  margin-right: 192px;
  margin-bottom: 5px;
  color: #000000;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.social-item {
  width: 46px;
  margin-bottom: 5px;
}

.social-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button::after {
  content: "";
  position: absolute;
}

.social-button.twitter::after {
  top: 17px;
  left: 15px;
  width: 17px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg height='15' viewBox='0 0 17 15' width='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.95 1.144c1.685-.496 2.984.27 3.577 1.179.673-.231 1.331-.481 2.011-.708-.0131077.6863655-.3263164 1.33251829-.857 1.768.685.17 1.304-.491 1.304-.491-.169 1-1.006 1.788-1.563 2.024-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.119-1.2-.856-2.531-1.573-2.457-3.773.285.328 1.067.536 1.34.472-.703-.241-1.97-3.36-.894-4.952 1.818 1.854 3.735 3.606 7.152 3.773.208-2.293 1.137-3.83 2.904-4.479z' fill='%23fff' transform='translate(0 -1)'/%3E%3C/svg%3E");
}

.social-button.facebook::after {
  top: 13px;
  left: 17px;
  width: 12px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg height='22' viewBox='0 0 12 22' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 4v-4h-4c-2.209139 0-4 1.790861-4 4v4h-4v4h4v10h4v-10h4v-4h-4v-4z' fill='%23fff'/%3E%3C/svg%3E");
}

.social-button.youtube::after {
  top: 16px;
  left: 13px;
  width: 20px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg height='16' viewBox='0 0 20 16' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17 0h-14c-1.65 0-3 1.35-3 3v10c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3v-10c0-1.65-1.35-3-3-3zm-10.973 11.998v-7.996l8.987 3.998z' fill='%23fff'/%3E%3C/svg%3E");
}

.social-button:active::after {
  opacity: 0.3;
}

.social-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 200px;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 4px;
}

.footer-copyright svg {
  margin-bottom: -8px;
}

.html-academy-logo path {
  fill: #231f20;
}

.html-academy-logo:hover path {
  fill: #81b3d1;
}

.html-academy-logo:active path {
  fill: #bdbbbc;
}
